:root {
  font-size: 62.5%; /* equivalent to 10px */
  font-family: "Segoe UI", Ubuntu, Tahoma, Geneva, Verdana, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
}

.container {
  display: flex;
  font-size: 1.6rem;
  height: 100vh;
}

.sidebar {
  flex: 0 0 35vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  color: white;
  background-image: url(./img/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
}

.sidebar a {
  color: white;
}

.sidebar .sidebar-logo-credits {
  margin-top: auto;
  margin-bottom: 1rem;
  align-self: center;
  font-size: 1.5rem;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  column-gap: 1rem;
  font-family: "Rubik Glitch", cursive;
  font-size: 7rem;
  line-height: 18rem;
  background-color: rgba(0, 0, 0, 0.45);
}

.brand .brand-logo {
  height: 12rem;
  filter: invert(100%) sepia(0%) saturate(7491%) hue-rotate(146deg)
    brightness(104%) contrast(103%);
}

/*Main style, nothing specific to the form or other items*/
.main {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 4rem;
  justify-content: center;
  background-color: rgb(248, 248, 248);
}

.main .pitch-text,
.main .instruction-text {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3.2rem;
}

.main .instruction-text {
  padding: 2rem 0;
  margin: 0;
}

.main .form-contents {
  background-color: white;
  box-shadow: rgb(200, 200, 200) 0 8px 10px -5px;
}

/* Margins for all the main content */
.main .pitch-text,
.main .form-contents,
.main .login-text {
  padding-left: 5vw;
  padding-right: 10vw;
  margin-top: 0;
}

.main .form-contents {
  padding-bottom: 3rem;
}

/* Style for the form elements */
.main .form-row label {
  /* text-transform: uppercase; */
  font-size: 1.8rem;
  font-variant-caps: all-small-caps;
  font-weight: bold;
  color: #333;
}

.main .form-row input[required] + label::after {
  content: " *";
  color: red;
  font-size: 1.5rem;
}

.main .form-row input {
  width: 20vw;
  border: solid 1px #CCC;
  border-radius: 4px;
  font-size: 1.6rem;
  line-height: 3rem;
  margin-top: 0.3rem;
  padding-left: 1rem;
  outline: none;
}

.main .form-row input:focus {
  border-color: skyblue;
  box-shadow: 0 0 0.5rem 0 skyblue;
}

.main .form-row input:user-valid:not(:focus):not([type="password"]):not(:placeholder-shown) {
  border-color: green;
  box-shadow: 0 0 0.5rem 0 green;
}

.main .form-row input:invalid:not(:focus):not(:placeholder-shown){
  border-color: red;
  box-shadow: 0 0 0.5rem 0 red;
}

.main .form-row input.pwd-match {
  border-color: green;
  box-shadow: 0 0 0.5rem 0 green;
}

.main .form-row input.pwd-mismatch {
  border-color: red;
  box-shadow: 0 0 0.5rem red;
}

.main .form-row-field .password-error {
  color: red;
  font-size: 1.5rem;
  padding-top: 0.5rem;
}
.main button {
  margin: 3.5rem 5vw 0;
  padding: 1.4rem 5ch;
  border-width: 0;
  border-color: transparent;
  border-radius: 12px;
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #35673b;
  box-shadow: rgb(180, 180, 180) 0 8px 10px -5px;
}

.main button:hover,
.main button:focus {
  background-color: #427a48;
}

.main button:disabled {
  background-color: lightgray;
}

.main .login-text {
  font-size: 1.8rem;
}

.main a {
  color: #35673b;
  font-weight: bold;
  text-decoration: none;
}

.main a:hover,
.main a:focus {
  text-decoration: underline;
}

/* Flex layout for the form, excluding the button */
.main .form-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.main .form-row {
  display: flex;
  flex-flow: row wrap;
  column-gap: 7rem;
  row-gap: 2rem;
}

/* Allow placing labels BELOW the input and re-order them with flexbox */
/* This allows for input[required] + label::after styling. */
.main .form-row-field {
  display: flex;
  flex-flow: column wrap;
}

.main .form-row-field label {
  order: 1;
}

.main .form-row-field input {
  order: 2;
}

.main .form-row-field .password-error {
  order: 3;
}
